<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoApplication</display-name>
  
  
  <!-- For every servlet , there should be two tags 
  1. <servlet>
  2. <servlet-mapping>
  
  <servlet> tag will have more sub tags named <servlet-name> & <servlet-class>
  
  <servlet-mapping> tag will have more sub tags named <servlet-name> & <url-pattern>
  
  <servlet-name> -> provides link between of <servlet> & <servlet-mapping> 
  
  <servlet-class> -> must have the java file name with the complete package name of servlet
  
  <url-pattern> -> url field starting with '/name_in_html' this should be
  					same as provided in the html tag page.
  
   -->
  
  <servlet>
  	<servlet-name>Addition</servlet-name>
  	<servlet-class>com.AddNumbers.AddingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Addition</servlet-name>
  	<url-pattern>/Adding</url-pattern> <!-- Mentiond in the <form action="Adding"> -->
  </servlet-mapping>
  
  
  
  
    <servlet>
  	<servlet-name>PostCheck</servlet-name>
  	<servlet-class>com.checkmethod.CheckMethod</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PostCheck</servlet-name>
  	<url-pattern>/PostMethod</url-pattern> 
  </servlet-mapping>
  
  
  <!-- Calling Servlet from a Servlet -->
  
  
    <servlet>
  		<servlet-name>FirstAddBeforeSquare</servlet-name>
  		<servlet-class>com.AddAndSquare.Add</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>FirstAddBeforeSquare</servlet-name>
  	<url-pattern>/AddSquare</url-pattern> 
  </servlet-mapping>
  
  
  
  
   <servlet>
  		<servlet-name>addSquare</servlet-name>
  		<servlet-class>com.AddAndSquare.AddAndSquare</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>addSquare</servlet-name>
  	<url-pattern>/SquareAndAdd</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>Amazon</servlet-name>
  		<servlet-class>Amazon.CheckoutPayment.CheckoutPayment</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Amazon</servlet-name>
  	<url-pattern>/amazon</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>PaymentGateway</servlet-name>
  		<servlet-class>PaymentGateway.makepayment.makepayment</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>PaymentGateway</servlet-name>
  	<url-pattern>/PaymentGateway</url-pattern> 
  </servlet-mapping>
  
  
  <servlet>
  		<servlet-name>Usercreation</servlet-name>
  		<servlet-class>Session.createUser.createUsert</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Usercreation</servlet-name>
  	<url-pattern>/getsession</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>getUser</servlet-name>
  		<servlet-class>Session.getUserlogin.getUserlogin</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>getUser</servlet-name>
  	<url-pattern>/getuser</url-pattern> 
  </servlet-mapping>
  
</web-app>