<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="basePath">C:/Harsh/LearnWebDevInJAVA/Logging/DivisionLogs</Property>
    <Property name="basePathAdd">C:/Harsh/LearnWebDevInJAVA/Logging/AdditionLogs</Property>
  </Properties> 
  
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <RollingFile name="divisionFileLogger"
      fileName="${basePath}/divlog-${date:yyyy-MM-dd'_'HH-mm-ss}.log"
      filePattern="${basePath}/divlog-%d{yyyy-MM-dd'_'HH-mm-ss}-%i.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="1KB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
    <RollingFile name="additionFileLogger"
      fileName="${basePathAdd}/addlog-${date:yyyy-MM-dd'_'HH-mm-ss}.log"
      filePattern="${basePathAdd}/addlog-%d{yyyy-MM-dd'_'HH-mm-ss}-%i.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="1KB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
  </Appenders>
  
  
  <Loggers>
    <Logger name="DivisionLogs" level="trace" additivity="false"> <!-- Logger name should be same as name defined in the LogManager.getLogger("DivisionLogs"); -->
      <AppenderRef ref="divisionFileLogger"/>
    </Logger>
    <Logger name="AdditionLogs" level="trace" additivity="false">
      <AppenderRef ref="additionFileLogger"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
  
</Configuration>
